<div class="facade-view">
  <div class="sidenav">
    <a routerLink="/products" routerLinkActive="active"><i class="material-icons">developer_board</i><span>Products</span></a>
    <a routerLink="/home" routerLinkActive="active"><i class="material-icons">home</i><span>Home</span></a>
  </div>
  <mat-form-field>
    <mat-select [(value)]="activeComponent"  (selectionChange)="navigateTo($event.value)">
      <mat-option value="products">Products</mat-option>
      <mat-option value="home">Home</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>