<div class = "home-content">
	<div class="tasks">
		<span>My Tasks<i class="material-icons">check_box</i></span>
		<div class="task" *ngFor="let task of tasks">
			<mat-card class="task-card" [ngStyle]="{'border-left': '5px solid ' + task.associatedColour }">
				<mat-card-content>
					<p id="card-text-content">
						{{task.description}}
					</p>
					<div class="card-info-icons">
						<div id="task-due-date"><span class="material-icons">schedule</span> {{task.dueDate | date:'MMM dd'}}</div>
						<img id="user-avatar" src="assets/images/Max-512.png" />
					</div>
				</mat-card-content>
			</mat-card>
			<div class="task-associated-product">
				<div id="product-label">{{task.productName}}</div>
				<div id="product-label">- {{task.sprintName}}</div>
			</div>
		</div>
	</div>

	<div class="sidenav">
	</div>
</div>